/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-image: linear-gradient(rgb(78, 10, 78), rgb(189, 114, 127));
    color: #ffff00;
    padding: 1rem;
    border-bottom: 2px solid #ffff00;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0%;
}

header a {
    text-decoration: none;
}

/* Logo */
#logo {
    font-family: 'Comfortaa', sans-serif;
    color: #ffff00;
    letter-spacing: 3px;
}

#tagline {
    font-family: 'Comfortaa', sans-serif;
    color: #ffff00;
    text-align: center;
    padding-top: 12px;
}

/* Navigation Section */
ul {
    list-style-type: none;
}

li a {
    color: #ffff00;
    letter-spacing: 2px;
    font-size: 120%;
    font-weight: bold;
}

li {
    margin-bottom: 2em;
    text-align: center;
}

/* Drop down Toggle */
nav {
    position: absolute;
    background-image: linear-gradient(rgb(78, 10, 78), rgb(189, 114, 127));
    padding: 0 1rem;
    left: 0;
    width: 100%;
    display: none;
    margin-top: 35px;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    padding-bottom: 4px;
}

.active {
    border-bottom: 1px solid #ffff00;
}

/* Main Content */
main {
    background-color: rgb(48, 21, 36);
    color: #ffff00;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
    padding: 1rem;
}
#main-contact {
    background-color: white;
    padding: 0;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
    /*background-color: aquamarine;*/
    opacity: .6;
    position: relative;
}

#about {
    background-color: white;
    color: rgb(41, 40, 40);
    padding: 5px;
}

#columns-about {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#columns-about2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: rgb(41, 40, 40);
    padding: 10px;
}

#col-one-about {
    padding: 10px;
    background-color: #ffffff;
}

#col-two-about {
    background-color: #ffffff;
    color: rgb(41, 40, 40);
    padding: 10px;
}

#pie-vid {
    width: 100%;
}

.center {
    text-align: center;
}

#gallery {
    background-color: rgb(48, 21, 36);
    width: 100vw;
    text-align: center;
    padding: 10px;
}

#gallery-heading {
    font-size: 150%;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 2px;
}

#photos img {
    width: 100%;
}

/* Contact Page */

#contact-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    background-color: white;
    color: rgb(48, 21, 36);
    width: 100%;
    margin: 0; 
}

#contact-heading {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 150%;
}

.span-icon {
    color: rgb(173, 94, 107);
}


#opening-hours {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    font-weight: bold;
}

table {
    border-spacing: 10px;
    /*border: 2px solid yellow;*/
    color: rgb(134, 65, 77);
    background-color: white;
    margin: auto;
}

th td{
    text-align: right;
    padding: 4px;
}

#contact-form {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgb(78, 10, 78), rgb(189, 114, 127));
    margin: auto; 
    padding-top: 20px;
}

#contact-heading {
 font-family: 'Comfortaa';
 letter-spacing: 2px;
 text-align: center;
 padding-bottom: 20px;
}

#form-build {
    padding: 30px;  
}  

.text-input {
    margin: 4px 0 20px 0;
    /*width: 220px;*/
    height: 28px;   
}

input::placeholder {
    font-weight: bold;
    color: rgb(48, 21, 36);
    font-size: 1rem;
} 

.message-box {
   height: 200px;
}


/* Footer */
footer {
    background-image: linear-gradient(rgb(78, 10, 78), rgb(189, 114, 127));
    color: #ffff00;
    margin-top: auto;
    border-top: 2px solid #ffff00;
}

#connect-social {
    text-align: center;
    padding-top: 10px;
}

#social-networks {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0;
}

#social-networks i {
    font-size: 100%;
    padding: 5px;
    border: 2px solid #ffff00;
    border-style: inset;
}

/* Media Query: larger or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
    }
}

/* Media Query: Tablets & Larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    ul {
        display: flex;
    }

    li {
        padding-left: 3rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 80px;
    }

    header {
        padding: 0.3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin: 0;
        height: 80px;
    }

    main {
        margin-top: 80px;
        padding: 1rem;
        min-height: 100vh;
        margin-bottom: 0;
    }

    nav {
        background-image: none;
    }

    #tagline {
        font-family: 'Comfortaa', sans-serif;
        color: #ffff00;
        text-align: center;
        font-size: 200%;

    }

    #hero {
        height: 50vh;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }

    #col-one-about {
        width: 50%;
    }

    #col-two-about {
        width: 50%;
        background-color: #ffffff;
        color: rgb(41, 40, 40);
    }

    #col-one-about2 {
        width: 50%;
        background-color: #ffffff;
        color: rgb(41, 40, 40);
    }

    #col-two-about2 {
        width: 50%;
    }

    #photos {
        column-count: 3;
    }

}

/* Media Query: Laptops and Desktops (992px and up) */
@media screen and (min-width: 992px) {
    #photos {
        column-count: 4;
    }
}